## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be easily accessed, managed, and updated. SQL databases are relational and use structured schemas,While NOSQL databases are non-relational, use document-based.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is used to define and manage database structures like tables and schemas. CREATE, DROP, ALTER, and TRUNCATE are used to create, delete, modify, and remove all data from a table, respectively, e.g., CREATE TABLE students (id INT);, DROP TABLE students;, ALTER TABLE students ADD name VARCHAR(50);, TRUNCATE TABLE students;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used to modify data in a database. INSERT adds data, UPDATE modifies existing data, and DELETE removes data, e.g., INSERT INTO students (id, name) VALUES (1, 'Harshu');, UPDATE students SET name = 'Harsha' WHERE id = 1;, DELETE FROM students WHERE id = 1;.

## Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database. The SELECT statement is used to query data, e.g., SELECT name FROM students WHERE id = 1; retrieves the name of the student with id 1.

## Q5. Explain Primary Key and Foreign Key.

A Primary Key uniquely identifies each record in a table, ensuring no duplicate values. A Foreign Key is a field in one table that links to the Primary Key in another table, establishing a relationship between the two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [6]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",     
    user="your_username", 
    password="your_password", 
    database="your_database"  
)

cursor = connection.cursor()
cursor.execute("SELECT * FROM your_table")
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()
connection.close()

ModuleNotFoundError: No module named 'mysql'

cursor() method:
The cursor() method creates a cursor object, which is used to interact with the database. It acts as a pointer to the database, allowing you to execute queries and fetch data.

execute() method:
The execute() method is used to run SQL queries through the cursor object. It executes the SQL command passed to it (e.g., SELECT, INSERT, UPDATE, etc.).

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses is:
FROM → WHERE → GROUP BY → HAVING → SELECT → ORDER BY → LIMIT.